*{
  margin:0 ;
  padding:0;
  box-sizing: border-box ;
}

.cardHighlight{
  min-height: 100%;
}

.nav{
  padding: 100%;
}

.prodtext {
  text-align: center;
}

.prodbtn {
  float: center;
}

.tablecol{
  padding: 0;
  text-align: center;
}

.tabhead{
  vertical-align: middle;
  text-align: center;
}

.dashcon{
   margin:0 !important;
  padding:0 !important;
  box-sizing: border-box !important;
}

.card-text{
  text-align: justify;
}

.form-labels{
  text-align:  left !important;
}

.form-controls{
  width: 50% !important;
}

.pTable{
  margin-left: auto;
  margin-right: auto;
}

 .photo {
      height: 50%;
      width: 100%; 
      align-items: left;
 }

 .photo2 {
      height: 30%;
      width: 40%; 
      align-items: left;
      padding-left: 30px;
 }

.photo3 {
      height: 100%;
      width: 60%; 
      align-items: left;
      padding-left: 0px;
 }

 .photo4 {
      height: 100%;
      width: 100%; 
      align-items: left;
      padding-left: 0px;
 }

.photo5 {
      height: 80%;
      width: 70%; 
      align-items: right;
 }

.card {

  align-items: right;
}

.aboutpic{
  float: right;
}


